

<div class="article-area content-block">
  <div class="w3-center">
<h1><%= @post.title%></h1>
<h5><span class="w3-opacity"><%= @post.created_at.strftime("%B, %d, %Y") %></span></h5>

</div>

<div class="w3-content w3-padding-large w3-margin-top" id="portfolio">

<%= image_tag @post.image, class: "image"%>

</div>


  <div class="post_body">
  <p>
     <%= sanitize @post.body %>
  </p>
  </div>

<div class="back_button">
<%= link_to 'Back', posts_path, class: "w3-button w3-white w3-border" %>
</div>
</div>
