<!DOCTYPE html>
<html>
  <head>
    <title>Vrtechgeeks</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <body class="w3-light-grey">
      <div class="w3-content" style="max-width:1600px">
    <%= render "layouts/header"%>
    <%= yield %>
  </div>
  </body>
</html>
